In [347]:
!pip install faker

Requirement already satisfied: faker in /opt/anaconda3/lib/python3.12/site-packages (37.1.0)
Requirement already satisfied: tzdata in /opt/anaconda3/lib/python3.12/site-packages (from faker) (2023.3)

In [348]:
import pandas as pd
import random
from faker import Faker

fake = Faker()
Faker.seed(42)
random.seed(42)

# ------------------ PRODUCT CATEGORIES ------------------
product_categories = [
    {"CategoryID": 1, "CategoryName": "Produce"},
    {"CategoryID": 2, "CategoryName": "Producelocal"},
    {"CategoryID": 3, "CategoryName": "MeatPoultry"},
    {"CategoryID": 4, "CategoryName": "Seafood"},
    {"CategoryID": 5, "CategoryName": "Deli_ReadytoEat"},
    {"CategoryID": 6, "CategoryName": "Bakery"},
    {"CategoryID": 7, "CategoryName": "DairyEggs"},
    {"CategoryID": 8, "CategoryName": "Canned"},
    {"CategoryID": 9, "CategoryName": "Dry"},
    {"CategoryID": 10, "CategoryName": "SpiceSeasoning"},
    {"CategoryID": 11, "CategoryName": "Condiment"},
    {"CategoryID": 12, "CategoryName": "Oil"},
    {"CategoryID": 13, "CategoryName": "Beverage"},
    {"CategoryID": 14, "CategoryName": "Frozen Desert"},
    {"CategoryID": 15, "CategoryName": "Frozen_Produce"},
    {"CategoryID": 16, "CategoryName": "Frozen_Meals"},
    {"CategoryID": 17, "CategoryName": "Frozen_MeatPoultry"},
    {"CategoryID": 18, "CategoryName": "Household_Cleaning"},
    {"CategoryID": 19, "CategoryName": "Household_Supplies"},
    {"CategoryID": 20, "CategoryName": "Health_Toiletries"},
    {"CategoryID": 21, "CategoryName": "Health_Medicine"},
    {"CategoryID": 22, "CategoryName": "Health_Other"},
    {"CategoryID": 23, "CategoryName": "Pet"},
    {"CategoryID": 24, "CategoryName": "Snacks"},
    {"CategoryID": 25, "CategoryName": "Breakfast"}
]

product_categories_df = pd.DataFrame(product_categories)
product_categories_df.to_csv("ProductCategories.csv", index=False)

product_categories_df.head()

# ------------------ VENDORS ------------------
from faker import Faker
import pandas as pd
import random
import re

fake = Faker()
Faker.seed(42)
random.seed(42)

# Helper: Normalize U.S. phone number format
def format_us_phone(phone):
    digits = re.sub(r'\D', '', phone)
    if len(digits) == 10:
        return f"({digits[:3]}) {digits[3:6]}-{digits[6:]}"
    elif len(digits) == 11 and digits.startswith('1'):
        return f"({digits[1:4]}) {digits[4:7]}-{digits[7:]}"
    return None

# Helper: Keep generating until we get a valid phone number
def get_valid_us_phone():
    while True:
        phone = fake.phone_number()
        formatted = format_us_phone(phone)
        if formatted:
            return formatted

# ------------------ VENDORS ------------------
vendors = []
for i in range(1, 31):  # 30 vendors
    vendors.append({
        "VendorID": i,
        "VendorName": fake.company(),
        "ContactName": fake.name(),
        "PhoneNumber": get_valid_us_phone(),
        "Email": fake.company_email(),
        "Address": fake.address().replace("\n", ", ")
    })

vendors_df = pd.DataFrame(vendors)
vendors_df.to_csv("Vendors.csv", index=False)

vendors_df.head()

,VendorID,VendorName,ContactName,PhoneNumber,Email,Address
0,1,"Rodriguez, Figueroa and Sanchez",Brian Yang,(219) 560-0133,lrobinson@pacheco-smith.com,"2351 Noah Knolls Suite 940, Herrerafurt, CO 72858"
1,2,Calderon-Montgomery,Laura Bush,(734) 413-1647,michael41@reid.info,"503 Linda Locks, Carlshire, FM 94599"
2,3,Lewis-Porter,Maria Thomas,(738) 584-9696,williamdavis@callahan.com,"166 Rice Plaza Apt. 184, Danielchester, GA 59971"
3,4,Mckay Ltd,Jonathan White,(248) 793-2528,xsmith@allen-allen.org,"USS Dennis, FPO AE 70323"
4,5,Anderson Group,Carmen Rose,(350) 298-3930,carlosjohnson@jones-young.info,"997 Kristen Valley, Leeville, TN 56999"

In [349]:
# Load product categories and vendors
product_categories_df = pd.read_csv("ProductCategories.csv")
vendors_df = pd.read_csv("Vendors.csv")

# Setup
fake = Faker()
Faker.seed(123)
random.seed(123)

def generate_product_name(category):
    return f"{random.choice(['Fresh', 'Classic', 'Premium', 'Organic'])} {category} {random.choice(['Pack', 'Box', 'Item', 'Bottle'])}"

# ------------------ PRODUCTS ------------------
products = []
product_id_start = 5001
num_products = 300  # updated to 300

for i in range(num_products):
    cat = product_categories_df.sample(1).iloc[0]
    vendor = vendors_df.sample(1).iloc[0]

    products.append({
        "ProductID": product_id_start + i,
        "ProductName": generate_product_name(cat['CategoryName']),
        "Aisle": f"A{random.randint(1, 12)}",
        "Shelf": f"S{random.randint(1, 5)}",
        "CategoryID": cat["CategoryID"],
        "UnitPrice": round(random.uniform(1.5, 50.0), 2),
        "VendorID": vendor["VendorID"],
        "SKU": fake.bothify(text='??-#####'),
        "IsActive": True,
        "LastRestockedDate": fake.date_between(start_date='-30d', end_date='today')
    })

products_df = pd.DataFrame(products)
products_df.to_csv("Products.csv", index=False)

products_df.head()

,ProductID,ProductName,Aisle,Shelf,CategoryID,UnitPrice,VendorID,SKU,IsActive,LastRestockedDate
0,5001,Fresh Condiment Item,A2,S4,11,14.43,5,gc-04164,True,2025-04-03
1,5002,Fresh Breakfast Bottle,A9,S5,25,17.61,5,iv-85502,True,2025-04-08
2,5003,Fresh Deli_ReadytoEat Box,A3,S3,5,28.71,16,My-32061,True,2025-03-25
3,5004,Classic Health_Other Box,A1,S4,22,39.02,3,Qj-57101,True,2025-03-26
4,5005,Organic Oil Pack,A1,S3,12,37.00,26,qE-04697,True,2025-04-17

In [350]:
import pandas as pd
from faker import Faker
import random

fake = Faker()
Faker.seed(789)
random.seed(789)

# Extended city list for 30 unique NY-based locations
ny_cities = [
    "New York City", "Buffalo", "Rochester", "Yonkers", "Syracuse", "Albany",
    "New Rochelle", "Mount Vernon", "Schenectady", "Utica", "White Plains",
    "Hempstead", "Troy", "Niagara Falls", "Binghamton", "Brooklyn", "Bronx",
    "Queens", "Staten Island", "Ithaca", "Poughkeepsie", "Freeport", "Valley Stream",
    "Kingston", "Peekskill", "Long Beach", "Rome", "Elmira", "Ossining", "Glen Cove"
]

# ---------- STORES ----------
import pandas as pd
import random
import re
from faker import Faker

fake = Faker()
Faker.seed(123)
random.seed(123)

# List of NY cities (you can modify this list as needed)
ny_cities = [
    "New York City", "Buffalo", "Rochester", "Yonkers", "Syracuse", "Albany",
    "New Rochelle", "Mount Vernon", "Schenectady", "Utica", "White Plains",
    "Hempstead", "Troy", "Niagara Falls", "Binghamton", "Brooklyn", "Bronx",
    "Queens", "Staten Island", "Ithaca", "Poughkeepsie", "Freeport", "Valley Stream",
    "Kingston", "Peekskill", "Long Beach", "Rome", "Elmira", "Ossining", "Glen Cove"
]

# Helper function to format and validate US phone numbers
def format_us_phone(phone):
    digits = re.sub(r'\D', '', str(phone))
    if len(digits) == 10:
        return f"({digits[:3]}) {digits[3:6]}-{digits[6:]}"
    elif len(digits) == 11 and digits.startswith('1'):
        return f"({digits[1:4]}) {digits[4:7]}-{digits[7:]}"
    return None

# Generate clean phone number using Faker until valid
def get_valid_us_phone():
    while True:
        raw = fake.phone_number()
        formatted = format_us_phone(raw)
        if formatted:
            return formatted

# ---------- STORES ----------
stores = []
for i, city in enumerate(ny_cities, start=1):
    stores.append({
        "StoreID": i,
        "StoreName": f"{city} Market",
        "StreetAddress": fake.street_address(),
        "City": city,
        "State": "NY",
        "ZipCode": fake.zipcode_in_state("NY"),
        "PhoneNumber": get_valid_us_phone()  # Always valid & formatted
    })

stores_df = pd.DataFrame(stores)
stores_df.to_csv("Stores.csv", index=False)

# Preview
print(stores_df.head())

# ---------- STORE MANAGERS ----------
import pandas as pd

# Load employee and store data
employees_df = pd.read_csv("Employees.csv")
stores_df = pd.read_csv("Stores.csv")

store_managers = []

# For each store, pick a random employee from that store to be manager
for store in stores_df.itertuples():
    store_employees = employees_df[employees_df["StoreID"] == store.StoreID]
    if not store_employees.empty:
        manager = store_employees.sample(1).iloc[0]
        store_managers.append({
            "StoreID": store.StoreID,
            "ManagerID": manager.EmployeeID
        })

# Save to CSV
store_managers_df = pd.DataFrame(store_managers)
store_managers_df.to_csv("StoreManagers.csv", index=False)

# Preview
print(store_managers_df.head())

   StoreID             StoreName             StreetAddress           City  \
0        1  New York City Market      1641 Nicholas Points  New York City
1        2        Buffalo Market     60861 Johnson Islands        Buffalo
2        3      Rochester Market        290 Cooper Prairie      Rochester
3        4        Yonkers Market        8950 Williams Loaf        Yonkers
4        5       Syracuse Market  945 Ian Brooks Suite 727       Syracuse

  State ZipCode     PhoneNumber
0    NY   12722  (345) 746-6019
1    NY   12151  (727) 876-0497
2    NY   11003  (366) 684-2865
3    NY   12446  (779) 553-7479
4    NY   14384  (978) 625-5390
   StoreID  ManagerID
0        1       2011
1        2       2017
2        3       2031
3        4       2039
4        5       2047

In [351]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime, timedelta

fake = Faker()
Faker.seed(101)
random.seed(101)

# Load stores
stores_df = pd.read_csv("Stores.csv")

# ---------- EMPLOYEES ----------
import pandas as pd
import random
from faker import Faker
import re
from datetime import datetime, timedelta

fake = Faker()
Faker.seed(101)
random.seed(101)

# Load your Stores.csv (adjust path if needed)
stores_df = pd.read_csv("Stores.csv")

# Roles
employee_roles = ["Cashier", "Stock Associate", "Customer Service", "Supervisor", "Janitor"]
employee_id_start = 2001
employees = []

# Helper to format U.S. phone numbers
def format_us_phone(phone):
    digits = re.sub(r'\D', '', str(phone))
    if len(digits) == 10:
        return f"({digits[:3]}) {digits[3:6]}-{digits[6:]}"
    elif len(digits) == 11 and digits.startswith('1'):
        return f"({digits[1:4]}) {digits[4:7]}-{digits[7:]}"
    return None

# Generate only valid phone numbers
def get_valid_us_phone():
    while True:
        raw = fake.phone_number()
        formatted = format_us_phone(raw)
        if formatted:
            return formatted

# ---------- EMPLOYEES ----------
for store in stores_df.itertuples():
    num_employees = random.randint(8, 12)
    for _ in range(num_employees):
        employees.append({
            "EmployeeID": employee_id_start,
            "StoreID": store.StoreID,
            "FirstName": fake.first_name(),
            "LastName": fake.last_name(),
            "Title": random.choice(employee_roles),
            "PhoneNumber": get_valid_us_phone(),
            "Email": fake.email(),
            "Salary": round(random.uniform(28000, 55000), 2),
            "HireDate": fake.date_between(start_date='-10y', end_date='-1y'),
            "TerminationDate": None if random.random() < 0.9 else fake.date_between(start_date='-1y', end_date='today')
        })
        employee_id_start += 1

# Save to CSV
employees_df = pd.DataFrame(employees)
employees_df.to_csv("Employees.csv", index=False)

# Optional preview
print(employees_df.head())


# ---------- EMPLOYEE SHIFTS ----------
from datetime import datetime, timedelta
import random
import pandas as pd
from faker import Faker

fake = Faker()
shift_id = 3001
employee_shifts = []

for emp in employees_df.itertuples():
    num_shifts = random.randint(3, 6)
    for _ in range(num_shifts):
        shift_date = fake.date_between(start_date='-30d', end_date='today')
        start_hour = random.choice([8, 9, 10, 12, 13])
        
        # Combine date and time into full datetime
        shift_start = datetime.combine(shift_date, datetime.strptime(f"{start_hour}:00", "%H:%M").time())
        shift_end = shift_start + timedelta(hours=8)
        break_minutes = random.choice([30, 45, 60])
        
        employee_shifts.append({
            "ShiftID": shift_id,
            "EmployeeID": emp.EmployeeID,
            "ShiftDate": shift_date,
            "ShiftStart": shift_start,     # full datetime
            "ShiftEnd": shift_end,         # full datetime
            "BreakMinutes": break_minutes
        })
        shift_id += 1

# Save to CSV
employee_shift_df = pd.DataFrame(employee_shifts)
employee_shift_df.to_csv("EmployeeShift.csv", index=False)
employee_shift_df.head()

   EmployeeID  StoreID FirstName LastName             Title     PhoneNumber  \
0        2001        1    Bianca      Lee   Stock Associate  (957) 508-3934
1        2002        1      Sean   Medina  Customer Service  (975) 636-6316
2        2003        1   Michele    Adams   Stock Associate  (449) 820-6241
3        2004        1     Larry     Berg        Supervisor  (534) 851-4247
4        2005        1      Juan  Rowland        Supervisor  (500) 669-7905

                      Email    Salary    HireDate TerminationDate
0      teresa14@example.org  52526.21  2016-10-02            None
1   danielcolon@example.net  40612.74  2018-04-05            None
2       peggy97@example.org  44255.16  2019-10-16      2025-03-07
3  warrenlauren@example.com  46695.41  2017-07-03            None
4     jguerrero@example.net  29899.60  2020-02-14            None

,ShiftID,EmployeeID,ShiftDate,ShiftStart,ShiftEnd,BreakMinutes
0,3001,2001,2025-04-10,2025-04-10 10:00:00,2025-04-10 18:00:00,30
1,3002,2001,2025-03-24,2025-03-24 12:00:00,2025-03-24 20:00:00,60
2,3003,2001,2025-04-12,2025-04-12 08:00:00,2025-04-12 16:00:00,30
3,3004,2002,2025-04-05,2025-04-05 13:00:00,2025-04-05 21:00:00,60
4,3005,2002,2025-03-23,2025-03-23 10:00:00,2025-03-23 18:00:00,60

In [352]:
import pandas as pd
import random
from faker import Faker

fake = Faker()
Faker.seed(202)
random.seed(202)

# ------------------ CUSTOMERS ------------------
customer_id_start = 4001
customers = []

ny_towns = [
    "New York City", "Brooklyn", "Buffalo", "Yonkers", "Albany", "Rochester",
    "Syracuse", "Mount Vernon", "White Plains", "Hempstead", "Utica", "Troy"
]

for i in range(500):
    join_date = fake.date_between(start_date='-5y', end_date='today')
    customers.append({
        "CustomerID": customer_id_start + i,
        "PhoneNumber": fake.phone_number(),
        "Email": fake.email(),
        "JoinedDate": join_date,
        "LoyaltyPoints": random.randint(0, 1000),
        "LastPurchaseDate": fake.date_between(start_date=join_date, end_date='today')
    })

customers_df = pd.DataFrame(customers)
customers_df.to_csv("Customers.csv", index=False)

# ------------------ PROMOTIONS ------------------
products_df = pd.read_csv("Products.csv")
promotion_id_start = 6001
promotions = []

for i in range(45):  # 45 active promos
    product = products_df.sample(1).iloc[0]
    start = fake.date_between(start_date='-60d', end_date='-7d')
    end = fake.date_between(start_date=start, end_date='+30d')
    promotions.append({
        "PromotionID": promotion_id_start + i,
        "PromotionName": f"{random.choice(['Spring', 'Weekly', 'BOGO', 'Flash'])} {product['ProductName']} Promo",
        "Description": fake.catch_phrase(),
        "StartDate": start,
        "EndDate": end,
        "DiscountPercentage": random.choice([5, 10, 15, 20, 25]),
        "ProductID": product["ProductID"],
        "IsActive": end > pd.Timestamp.today().date()
    })

promotions_df = pd.DataFrame(promotions)
promotions_df.to_csv("Promotions.csv", index=False)

customers_df.head(), promotions_df.head()

(   CustomerID           PhoneNumber                        Email  JoinedDate  \
 0        4001  +1-576-533-6067x7085            wsoto@example.net  2024-02-15
 1        4002    472-367-0834x77740   jamesalexander@example.org  2024-08-25
 2        4003         (633)763-4534          pbright@example.com  2020-12-04
 3        4004    (568)795-5623x8551  millerelizabeth@example.net  2023-05-16
 4        4005          442-949-7428        scottrich@example.org  2025-03-15

    LoyaltyPoints LastPurchaseDate
 0            782       2024-09-27
 1            394       2025-04-01
 2            660       2024-04-17
 3            480       2024-02-15
 4            419       2025-03-28  ,
    PromotionID                                 PromotionName  \
 0         6001    Weekly Fresh Household_Supplies Item Promo
 1         6002               BOGO Fresh DairyEggs Item Promo
 2         6003        Weekly Organic Producelocal Item Promo
 3         6004         Flash Premium Frozen Desert Box Promo
 4         6005  Weekly Organic Household_Cleaning Item Promo

                                       Description   StartDate     EndDate  \
 0                   Ergonomic asymmetric forecast  2025-03-07  2025-03-10
 1   Open-architected attitude-oriented capability  2025-02-26  2025-05-10
 2                     Balanced hybrid application  2025-04-01  2025-05-20
 3  Enhanced content-based artificial intelligence  2025-03-12  2025-05-02
 4                Business-focused static solution  2025-04-02  2025-04-22

    DiscountPercentage  ProductID  IsActive
 0                  25       5142     False
 1                  10       5076      True
 2                  15       5050      True
 3                   5       5223      True
 4                   5       5278     False  )

In [353]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime, timedelta

# Initialize Faker and seed
fake = Faker()
Faker.seed(303)
random.seed(303)

# Load necessary tables
stores_df = pd.read_csv("Stores.csv")
employees_df = pd.read_csv("Employees.csv")
customers_df = pd.read_csv("Customers.csv")
products_df = pd.read_csv("Products.csv")
promotions_df = pd.read_csv("Promotions.csv")


import pandas as pd
import random
from faker import Faker
from datetime import datetime

fake = Faker()

# Assuming these DataFrames already exist from earlier in your notebook:
# stores_df, employees_df, customers_df, promotions_df, products_df



# ------------------ SALES ------------------
import pandas as pd
import random
from faker import Faker
from datetime import datetime

fake = Faker()

# Assuming these DataFrames are preloaded:
# stores_df, employees_df, customers_df, promotions_df, products_df, vendors_df (for VendorID)

# ------------------ SALES ------------------
sales = []
sale_details = []
payments = []

sale_id_start = 7001
saledetail_id = 8001
payment_id = 9001

payment_methods = ["Cash", "Credit", "Debit", "EBT", "Mobile"]
payment_types = ["Customer", "Vendor", "Refund"]

for sale_index in range(550):
    sale_id = sale_id_start + sale_index
    store = stores_df.sample(1).iloc[0]
    employee = employees_df[employees_df["StoreID"] == store["StoreID"]].sample(1).iloc[0]
    customer = customers_df.sample(1).iloc[0]
    promotion = promotions_df.sample(1).iloc[0] if random.random() < 0.3 else None
    sale_date = fake.date_time_between(start_date='-30d', end_date='now')

    num_items = random.randint(1, 4)
    sale_total = 0.0
    used_product_ids = set()

    for _ in range(num_items):
        while True:
            product = products_df.sample(1).iloc[0]
            if product["ProductID"] not in used_product_ids:
                used_product_ids.add(product["ProductID"])
                break

        quantity = random.randint(1, 5)
        unit_price = product["UnitPrice"]
        discount = 0.0

        if promotion is not None and int(promotion["ProductID"]) == int(product["ProductID"]):
            discount = (promotion["DiscountPercentage"] / 100) * unit_price

        line_total = (unit_price - discount) * quantity
        sale_total += line_total

        sale_details.append({
            "SaleDetailID": saledetail_id,
            "SaleID": sale_id,
            "ProductID": product["ProductID"],
            "Quantity": quantity,
            "UnitPrice": unit_price,
            "DiscountAmount": round(discount * quantity, 2)
        })
        saledetail_id += 1

    pm = random.choice(payment_methods)
    pt = random.choices(
        population=payment_types,
        weights=[0.8, 0.15, 0.05],  # Mostly Customer, some Vendor, few Refunds
        k=1
    )[0]

    sales.append({
        "SaleID": sale_id,
        "StoreID": store["StoreID"],
        "EmployeeID": employee["EmployeeID"],
        "CustomerID": customer["CustomerID"],
        "PromotionID": int(promotion["PromotionID"]) if promotion is not None else None,
        "SaleDate": sale_date,
        "TotalAmount": round(sale_total, 2),
        "PaymentMethod": pm,
        "ChangeGiven": 0.0 if pm != "Cash" else round(random.uniform(0, 5), 2)
    })

    # Assign VendorID only for Vendor payment type
    vendor_id = vendors_df.sample(1).iloc[0]["VendorID"] if pt == "Vendor" else pd.NA

    payments.append({
        "PaymentID": payment_id,
        "PaymentType": pt,
        "VendorID": vendor_id,
        "SaleID": sale_id,
        "DeliveryID": pd.NA,
        "PaymentDate": sale_date.strftime("%Y-%m-%d"),
        "PaymentMethod": pm,
        "Amount": round(sale_total, 2),
        "ReferenceNumber": fake.uuid4()[:8]
    })
    payment_id += 1

# Convert to DataFrames
sales_df = pd.DataFrame(sales)
sale_details_df = pd.DataFrame(sale_details)
payments_df = pd.DataFrame(payments)

# ðŸ”§ Type safety
sales_df["PromotionID"] = sales_df["PromotionID"].astype("Int64")
sale_details_df["ProductID"] = sale_details_df["ProductID"].astype("int")
payments_df["SaleID"] = payments_df["SaleID"].astype("int")

# Save to CSV
sales_df.to_csv("Sales.csv", index=False)
sale_details_df.to_csv("SaleDetails.csv", index=False)
payments_df.to_csv("Payments.csv", index=False)

In [354]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime, timedelta

# Initialize
fake = Faker()
Faker.seed(505)
random.seed(505)

# Load required data
stores_df = pd.read_csv("Stores.csv")
products_df = pd.read_csv("Products.csv")
vendors_df = pd.read_csv("Vendors.csv")
employees_df = pd.read_csv("Employees.csv")

# ------------------ DELIVERIES ------------------
import pandas as pd
import random
from faker import Faker

fake = Faker()
Faker.seed(303)
random.seed(303)

# Assume these are loaded already
stores_df = pd.read_csv("Stores.csv")
vendors_df = pd.read_csv("Vendors.csv")
employees_df = pd.read_csv("Employees.csv")

deliveries = []
delivery_id_start = 10001

# Updated options to match schema
status_options = ["Delivered", "Pending", "Partial", "Cancelled"]
status_weights = [0.7, 0.15, 0.1, 0.05]  # adjust as needed

for i in range(200):
    store = stores_df.sample(1).iloc[0]
    vendor = vendors_df.sample(1).iloc[0]
    delivery_date = fake.date_between(start_date='-30d', end_date='today')
    received_by = employees_df[employees_df["StoreID"] == store["StoreID"]].sample(1).iloc[0]
    status = random.choices(status_options, weights=status_weights)[0]
    total_cost = round(random.uniform(100.0, 2000.0), 2)

    deliveries.append({
        "DeliveryID": delivery_id_start + i,
        "VendorID": vendor["VendorID"],
        "StoreID": store["StoreID"],
        "DeliveryDate": delivery_date,
        "TotalCost": total_cost,
        "ReceivedBy": received_by["EmployeeID"],
        "Status": status
    })

deliveries_df = pd.DataFrame(deliveries)
deliveries_df.to_csv("Deliveries.csv", index=False)

# Optional preview
print(deliveries_df["Status"].value_counts())

# ------------------ DELIVERY DETAILS ------------------
delivery_details = []
delivery_detail_id = 20001

for delivery in deliveries_df.itertuples():
    for _ in range(random.randint(2, 5)):
        product = products_df.sample(1).iloc[0]
        quantity = random.randint(10, 100)
        unit_cost = round(random.uniform(1.0, 25.0), 2)
        expiry = fake.date_between(start_date='today', end_date='+180d')

        delivery_details.append({
            "DeliveryDetailID": delivery_detail_id,
            "DeliveryID": delivery.DeliveryID,
            "ProductID": product["ProductID"],
            "Quantity": quantity,
            "UnitCost": unit_cost,
            "ExpiryDate": expiry
        })
        delivery_detail_id += 1

delivery_details_df = pd.DataFrame(delivery_details)
delivery_details_df.to_csv("DeliveryDetails.csv", index=False)

Status
Delivered    144
Pending       26
Partial       23
Cancelled      7
Name: count, dtype: int64

In [355]:
import pandas as pd
import random
from faker import Faker

# Setup
fake = Faker()
Faker.seed(606)
random.seed(606)

# Load stores and products
stores_df = pd.read_csv("Stores.csv")
products_df = pd.read_csv("Products.csv")

# ------------------ INVENTORY ------------------
inventory = []
inventory_id = 30001

for store in stores_df.itertuples():
    products_sample = products_df.sample(60)  # Track 60 products per store
    for product in products_sample.itertuples():
        quantity = random.randint(0, 200)
        low_stock_threshold = 20
        reorder_quantity = 100

        inventory.append({
            "InventoryID": inventory_id,
            "StoreID": store.StoreID,
            "ProductID": product.ProductID,
            "Quantity": quantity,
            "LowStockThreshold": low_stock_threshold,
            "ReorderQuantity": reorder_quantity,
            "LastStockTake": fake.date_between(start_date='-30d', end_date='today')
        })
        inventory_id += 1

inventory_df = pd.DataFrame(inventory)
inventory_df.to_csv("Inventory.csv", index=False)

In [356]:
import pandas as pd
from sqlalchemy import create_engine, Column, String, DECIMAL, ForeignKey, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [357]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)

In [358]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)

In [359]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)

In [360]:
#Set up and Imports
import psycopg2
import os

#Connect to PostgreSQL
conn = psycopg2.connect(
    dbname="abc_foodmart",
    user="postgres",
    password = "123",
    host="localhost",
    port="5432"
)

with conn:
    with conn.cursor() as cur:
        cur.execute("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public'
        """)
        print("Tables:", *[t[0] for t in cur.fetchall()], sep="\n-- ")

Tables:
-- productcategories
-- products
-- vendors
-- stores
-- employees
-- storemanagers
-- deliveries
-- deliverydetails
-- promotions
-- sales
-- customers
-- saledetails
-- inventory
-- employeeshift
-- payments

In [361]:
create_tables_sql = r"""
DROP TABLE IF EXISTS Payments CASCADE;
DROP TABLE IF EXISTS Promotions CASCADE;
DROP TABLE IF EXISTS EmployeeShift CASCADE;
DROP TABLE IF EXISTS Inventory CASCADE;
DROP TABLE IF EXISTS SaleDetails CASCADE;
DROP TABLE IF EXISTS Sales CASCADE;
DROP TABLE IF EXISTS DeliveryDetails CASCADE;
DROP TABLE IF EXISTS Deliveries CASCADE;
DROP TABLE IF EXISTS Customers CASCADE;
DROP TABLE IF EXISTS StoreManagers CASCADE;
DROP TABLE IF EXISTS Employees CASCADE;
DROP TABLE IF EXISTS Stores CASCADE;
DROP TABLE IF EXISTS Products CASCADE;
DROP TABLE IF EXISTS Vendors CASCADE;
DROP TABLE IF EXISTS ProductCategories CASCADE;

-- Product Categories
CREATE TABLE ProductCategories (
    CategoryID SERIAL PRIMARY KEY,
    CategoryName VARCHAR(50) NOT NULL UNIQUE
);

-- Vendors
CREATE TABLE Vendors (
    VendorID SERIAL PRIMARY KEY,
    VendorName VARCHAR(100) NOT NULL,
    ContactName VARCHAR(100) NOT NULL,
    PhoneNumber VARCHAR(15) NOT NULL,
    Email VARCHAR(100) NOT NULL CHECK (Email ~* '^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+[.][A-Za-z]+$'),
    Address TEXT NOT NULL
);

-- Products
CREATE TABLE Products (
    ProductID SERIAL PRIMARY KEY,
    ProductName VARCHAR(100) NOT NULL,
    Aisle VARCHAR(10),
    Shelf VARCHAR(10),
    CategoryID INT NOT NULL REFERENCES ProductCategories(CategoryID),
    UnitPrice DECIMAL(10,2) NOT NULL CHECK (UnitPrice > 0),
    VendorID INT NOT NULL REFERENCES Vendors(VendorID),
    SKU VARCHAR(50) UNIQUE,
    IsActive BOOLEAN DEFAULT TRUE,
    LastRestockedDate TIMESTAMPTZ,
    CONSTRAINT valid_aisle_format CHECK (Aisle ~* '^[A-Z]\d{1,2}$')
);

-- Stores
CREATE TABLE Stores (
    StoreID SERIAL PRIMARY KEY,
    StoreName VARCHAR(100) NOT NULL,
    Address TEXT NOT NULL,
    City VARCHAR(50) NOT NULL,
    State CHAR(2) NOT NULL,
    ZipCode VARCHAR(10) NOT NULL,
    PhoneNumber VARCHAR(20) NOT NULL
);

-- Employees
CREATE TABLE Employees (
    EmployeeID SERIAL PRIMARY KEY,
    StoreID INT NOT NULL REFERENCES Stores(StoreID),
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    Title VARCHAR(50) NOT NULL,
    PhoneNumber VARCHAR(25) NOT NULL,
    Email VARCHAR(100) NOT NULL,
    Salary DECIMAL(10,2) NOT NULL CHECK (Salary > 0),
    HireDate TIMESTAMPTZ,
    TerminationDate TIMESTAMPTZ
);

-- Store Managers
CREATE TABLE StoreManagers (
    StoreID INT REFERENCES Stores(StoreID) ON DELETE CASCADE,
    ManagerID INT REFERENCES Employees(EmployeeID) ON DELETE CASCADE,
    PRIMARY KEY (StoreID, ManagerID)
);

-- Customers
CREATE TABLE Customers (
    CustomerID SERIAL PRIMARY KEY,
    PhoneNumber VARCHAR(25) NOT NULL,
    Email VARCHAR(100) CHECK (Email ~* '^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+[.][A-Za-z]+$'),
    JoinedDate TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    LoyaltyPoints INT NOT NULL DEFAULT 0,
    LastPurchaseDate TIMESTAMPTZ
);

-- Deliveries
CREATE TABLE Deliveries (
    DeliveryID SERIAL PRIMARY KEY,
    VendorID INT NOT NULL REFERENCES Vendors(VendorID),
    StoreID INT NOT NULL REFERENCES Stores(StoreID),
    DeliveryDate TIMESTAMPTZ NOT NULL,
    TotalCost DECIMAL(10,2) NOT NULL CHECK (TotalCost > 0),
    ReceivedBy INT REFERENCES Employees(EmployeeID),
    Status VARCHAR(20) DEFAULT 'Pending' CHECK (Status IN ('Pending', 'Delivered', 'Partial', 'Cancelled'))
);

-- Delivery Details
CREATE TABLE DeliveryDetails (
    DeliveryDetailID SERIAL PRIMARY KEY,
    DeliveryID INT NOT NULL REFERENCES Deliveries(DeliveryID) ON DELETE CASCADE,
    ProductID INT NOT NULL REFERENCES Products(ProductID),
    Quantity INT NOT NULL CHECK (Quantity > 0),
    UnitCost DECIMAL(10,2) NOT NULL CHECK (UnitCost > 0),
    ExpiryDate DATE
);

-- Promotions
CREATE TABLE Promotions (
    PromotionID SERIAL PRIMARY KEY,
    PromotionName VARCHAR(100) NOT NULL,
    Description TEXT,
    StartDate TIMESTAMPTZ NOT NULL,
    EndDate TIMESTAMPTZ NOT NULL,
    DiscountPercentage DECIMAL(5,2) CHECK (DiscountPercentage BETWEEN 0 AND 100),
    ProductID INT REFERENCES Products(ProductID),
    IsActive BOOLEAN NOT NULL DEFAULT TRUE,
    CONSTRAINT valid_dates CHECK (EndDate >= StartDate)
);

-- Sales
CREATE TABLE Sales (
    SaleID SERIAL PRIMARY KEY,
    StoreID INT NOT NULL REFERENCES Stores(StoreID),
    EmployeeID INT NOT NULL REFERENCES Employees(EmployeeID),
    CustomerID INT REFERENCES Customers(CustomerID),
    PromotionID INT REFERENCES Promotions(PromotionID),
    SaleDate TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    TotalAmount DECIMAL(10,2) NOT NULL CHECK (TotalAmount >= 0),
    PaymentMethod VARCHAR(20) CHECK (PaymentMethod IN ('Cash', 'Credit', 'Debit', 'EBT', 'Mobile')),
    ChangeGiven DECIMAL(10,2) DEFAULT 0
);

-- Sale Details
CREATE TABLE SaleDetails (
    SaleDetailID SERIAL PRIMARY KEY,
    SaleID INT NOT NULL REFERENCES Sales(SaleID) ON DELETE CASCADE,
    ProductID INT NOT NULL REFERENCES Products(ProductID),
    Quantity INT NOT NULL CHECK (Quantity > 0),
    UnitPrice DECIMAL(10,2) NOT NULL CHECK (UnitPrice >= 0),
    DiscountAmount DECIMAL(10,2) DEFAULT 0,
    CONSTRAINT unique_sale_product UNIQUE (SaleID, ProductID)
) WITH (FILLFACTOR = 90);

-- Inventory
CREATE TABLE Inventory (
    InventoryID SERIAL PRIMARY KEY,
    StoreID INT NOT NULL REFERENCES Stores(StoreID),
    ProductID INT NOT NULL REFERENCES Products(ProductID),
    Quantity INT NOT NULL CHECK (Quantity >= 0),
    LowStockThreshold INT NOT NULL DEFAULT 10,
    ReorderQuantity INT NOT NULL DEFAULT 50,
    LastStockTake TIMESTAMPTZ,
    UNIQUE (StoreID, ProductID)
);

-- Employee Shift
CREATE TABLE EmployeeShift (
    ShiftID SERIAL PRIMARY KEY,
    EmployeeID INT NOT NULL REFERENCES Employees(EmployeeID),
    ShiftDate DATE NOT NULL,
    ShiftStart TIMESTAMPTZ NOT NULL,
    ShiftEnd TIMESTAMPTZ NOT NULL,
    BreakMinutes INT DEFAULT 30,
    CONSTRAINT valid_shift CHECK (ShiftEnd > ShiftStart)
);

-- Payments
CREATE TABLE Payments (
    PaymentID BIGSERIAL PRIMARY KEY,
    PaymentType VARCHAR(10) NOT NULL CHECK (PaymentType IN ('Vendor', 'Customer', 'Refund')),
    VendorID INT REFERENCES Vendors(VendorID),
    SaleID INT REFERENCES Sales(SaleID),
    DeliveryID INT REFERENCES Deliveries(DeliveryID),
    PaymentDate TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    PaymentMethod VARCHAR(20) NOT NULL CHECK (PaymentMethod IN ('Cash', 'Credit', 'Debit', 'EBT', 'Mobile')),
    Amount DECIMAL(10,2) NOT NULL CHECK (Amount != 0),
    ReferenceNumber VARCHAR(50),
    CONSTRAINT valid_payment_type CHECK (
        (PaymentType = 'Vendor' AND VendorID IS NOT NULL AND SaleID IS NULL) OR
        (PaymentType = 'Customer' AND SaleID IS NOT NULL AND VendorID IS NULL) OR
        (PaymentType = 'Refund' AND SaleID IS NOT NULL)
    )
);
"""


with conn:
    with conn.cursor() as cur:
        cur.execute(create_tables_sql)
        print("Tables created successfully!")

Tables created successfully!

In [362]:
import os
import psycopg2

# Connection assumed to be already set
data_dir = "/Users/gracie/Gracie Personal/Study/Columbia University/Spring 2025/APAN_5310_D01_SQL/AAA_Group Project/testData"
table_file_map = {
    "ProductCategories": "ProductCategories.csv",
    "Vendors": "Vendors.csv",
    "Products": "Products.csv",
    "Stores": "Stores.csv",
    "Employees": "Employees.csv",
    "StoreManagers": "StoreManagers.csv",
    "Customers": "Customers.csv",
    "Deliveries": "Deliveries.csv",
    "DeliveryDetails": "DeliveryDetails.csv",
    "Promotions": "Promotions.csv",
    "Sales": "Sales.csv",
    "SaleDetails": "SaleDetails.csv",
    "Inventory": "Inventory.csv",
    "EmployeeShift": "EmployeeShift.csv",
    "Payments": "Payments.csv"
}

with conn:
    with conn.cursor() as cur:
        for table, filename in table_file_map.items():
            file_path = os.path.join(data_dir, filename)
            with open(file_path, 'r', encoding='utf-8') as f:
                cur.copy_expert(f"COPY {table} FROM STDIN WITH CSV HEADER", f)
                print(f"Loaded data into {table}")

Loaded data into ProductCategories
Loaded data into Vendors
Loaded data into Products
Loaded data into Stores
Loaded data into Employees
Loaded data into StoreManagers
Loaded data into Customers
Loaded data into Deliveries
Loaded data into DeliveryDetails
Loaded data into Promotions
Loaded data into Sales
Loaded data into SaleDetails
Loaded data into Inventory
Loaded data into EmployeeShift

CheckViolation: new row for relation "payments" violates check constraint "valid_payment_type"
DETAIL:  Failing row contains (9006, Vendor, 25, 7006, null, 2025-03-27 00:00:00-05, Debit, 144.84, 4a377247).
CONTEXT:  COPY payments, line 7: "9006,Vendor,25,7006,,2025-03-27,Debit,144.84,4a377247"

In [221]:
#Test the query to make sure data loaded as expected
with conn.cursor() as cur:
    cur.execute("SELECT * FROM Products LIMIT 5;")
    rows = cur.fetchall()
    for row in rows:
        print(row)